body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header{
    position:absolute;
    top: 2rem;

}
.header img{
    height: 75px;
}

.content{ 
    width: 100%;
    max-width: 360px;
    margin: auto 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr {
    width: 100%;
    border: 1px solid #ccc;
}

.content p{
    padding: 20px 0;
    margin: 0;
    font-size: 14px;
}

.card{
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-radius: 12px;
    background-color: #fff;
}

label {
    text-align: left;
}

input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

button {
  margin-top: 12px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background-color: #ccc;
  font-weight: bold;
  cursor: pointer;
}


footer {
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
} 